<div class="container-filterresult">
    <div class="row">
        <div class="col-12">
            <h2 class="scroll-title">
                {{block.heading}}
                <a href="#" class="fa fa-times-circle-o float-right toggle-filter"></a>
            </h2>
            <div id="search-intro" >
                {{{block.introtext}}}
            </div>
            <div id="search-target">
                {{#block.results}}
                    <ul>
                        {{#block.results}}
                        <li>
                            <a href="{{BASE_URI}}content/index/{{_id}}">
                                {{name[]}}
                            </a>
                        </li>
                        {{/block.results}}
                    </ul>
                {{/block.results}}
                {{^block.results}}
                    {{&block.noresultText}}
                {{/block.results}}
            </div>
        </div>
    </div>
</div>

