<div class="container-filterresult container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="filterresult-title">
                {{block.heading[]}}
                <a
                    href="#"
                    class="fa fa-times-circle-o float-right toggle-filter"
                ></a>
            </h1>
            <div id="search-intro">
                {{{block.introtext[]}}}
            </div>
            <div id="search-target" class="row productlist">
                {{#block.results}}
                    {{> shop/clothing_small }}
                {{/block.results}}
                {{^block.results}}
                    <div class="col-xs">
                        {{{block.noresultText[]}}}
                    </div>
                {{/block.results}}
            </div>
        </div>
    </div>
</div>

