<div class="container-shopcart">
    <div class="btn-group">
        <a class="btn btn-primary" href="{{block.shopcartUrl}}">
            <i class="fa fa-shopping-cart"></i>
            <span class="shopcart-content">
                {{block.shopcartText}}
            </span>
        </a>
        <a href="#" class="btn btn-primary shopcart-showmore">
            <i class="fa fa-arrow-down"></i>
        </a>
        <a class="btn btn-success" href="{{block.shopcartUrl}}">
            %SHOP_CHECKOUT%
        </a>
    </div>
</div>
