{{#block.EmptyCartPage}}
    {{block.EmptyCartPage.bodytext[]}}
{{/block.EmptyCartPage}}
{{^block.EmptyCartPage}}
    {{#block.checkoutBar}}
        {{> shop/checkoutBar}}
    {{/block.checkoutBar}}
    <section class="basket">
        <header class="row hidden-md-down d-none d-lg-flex">
            <div class="col-md-6 font-weight-bold" >
                %SHOP_PRODUCT%
            </div>
            <div class="col-md-2 font-weight-bold" >
                %SHOP_PRICE%
            </div>
            <div class="col-md-2 font-weight-bold" >
                %SHOP_QUANTITY%
            </div>
            <div class="col-md-2 font-weight-bold text-sm-right" >
                %SHOP_SUBTOTAL%
            </div>
            <div class="col-12 hidden-md-down d-none d-lg-block" >
                <hr />
            </div>
        </header>
        {{#block.cart.products}}
            <article id="product-row-{{cartItemId}}" class="row product">
                <div class="col-12 col-sm-3 col-lg-2 product-image text-center" >
                    {{> shop/cart_product}}
                </div>
                <div class="col-12 col-sm-4 col-lg-4 product-name" >
                    {{> shop/cart_product_description}}
                    {{#block.packingTeaser}}
                        <div class="container-cart-packing">
                            {{block.packingTeaser}}
                            <form action="{{BASE_URI}}shop/cart/setpackingforproduct/" method="post">
                                <input type="hidden" name="cartItemId" value="{{cartItemId}}" />
                                {{#block.packingItems}}
                                    <div>
                                        <input id="packing_{{_id}}" type="radio" value="{{_id}}" name="packing" data-value="{{packing}}" />
                                        <label for="packing_{{_id}}">
                                            {{name[]}}
                                            {{#image}}
                                                <i
                                                    class="fa fa-eye"
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    data-html="true"
                                                    title="<img src='{{UPLOAD_URI}}/{{image}}' width='200px' heihgt='auto' >"
                                                ></i>
                                            {{/image}}
                                            + {{{SHOP_CURRENCY_BASE}}} {{price_sale}}
                                        </label>
                                    </div>
                                {{/block.packingItems}}
                                <div>
                                    <input id="packing_none" type="radio" value="" name="packing" data-value="{{packing}}" />
                                    <label for="packing_none">
                                        %SHOP_PACKING_DO_NOT_PACK%
                                    </label>
                                </div>
                            </form>
                        </div>
                    {{/block.packingTeaser}}
                </div>
                <div class="col-2 col-sm-2  hidden-md-down d-none d-lg-block product-prijs" >
                    {{> shop/cart_product_price}}
                </div>
                <div class="col-6 col-sm-3 col-lg-2 updateform" >
                    {{> shop/cart_quantity_form}}
                </div>
                <div class=" col-6 col-sm-2 sub-total text-right" >
                    {{> shop/cart_product_subtotal}}
                </div>
                <div class="col-12">
                    <hr />
                </div>
            </article>
        {{/block.cart.products}}
        {{> shop/cart_footer}}
    </section>
    {{#block.checkoutBar}}
        {{#block.checkoutBar}}
            {{> shop/checkoutBar}}
        {{/block.checkoutBar}}
    {{/block.checkoutBar}}
    <div class="row basket-legend">
        <div class="col-12" >
            <small>
                {{{block.basketLegend}}}
            </small>
        </div>
    </div>
{{/block.EmptyCartPage}}
