<div class="container-shopcart">
    <div class="btn-group">
        <a class="btn btn-primary" href="{{block.cartLink}}">
            <i class="fa fa-shopping-cart hidden-xs-down d-none d-md-inline-block"></i>
            <span class="shopcart-content">
                {{block.cartText}}
            </span>
        </a>
        <a href="#" class="btn btn-primary shopcart-showmore hidden-xs-down d-none d-md-block">
            <i class="fa fa-eye"></i>
        </a>
        <a class="btn btn-success btn-checkout" href="{{block.cartLink}}">
            <span class="hidden-xs-down d-none d-md-inline-block">%SHOP_CHECKOUT%</span>
            <span class="hidden-sm-up d-sm-none">&euro;</span>
        </a>
    </div>
</div>
