{{#block.loggendIn}}
    {{> shop/checkoutBar}}
    <div class="row">
        <div class="col-12 col-lg-6 container-checkout-invoice">
            <h3>
                %SHOP_ADDRESS_INVOICE%
                <a href="shop/shopper/edit/" class="openmodal float-right small">
                    <i class="fa fa-edit"></i>
                </a>
            </h3>
            <blockquote>
                {{block.user.firstName}}{{#block.user.middleName}} {{block.user.middleName}}{{/block.user.middleName}} {{block.user.lastName}}<br />
                {{#block.shopper.companyName}}{{block.shopper.companyName}}<br />{{/block.shopper.companyName}}
                {{block.user.street}} {{block.user.houseNumber}}<br />
                {{block.user.zip}} {{block.user.city}}<br />
                {{block.user.countryName}}<br />
                {{block.user.phoneNumber}}
            </blockquote>
        </div>
        <div class="col-12 col-lg-6 container-checkout-shipto" data-selected="{{block.shiptoAddressesSelected}}">
            <h3>
                %SHOP_ADDRESS_SHIPPING%
                <a href="shop/shopper/editShipTo/" class="openmodal float-right small">
                    <i class="fa fa-plus"></i>
                </a>
            </h3>
            <div data-id="invoice" class="btn btn-info btn-block text-left">
                %SHOP_ADDRESS_SHIPPING_SAME_AS_INVOICE%
            </div>
            {{#block.shiptoAddresses}}
                <div data-id="{{_id}}" class="btn btn-info btn-block text-left">
                    {{firstName}}{{#middleName}} {{middleName}}{{/middleName}} {{lastName}}
                    <a href="shop/shopper/editShipTo/?id={{_id}}" class="openmodal float-right">
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
                <blockquote id="shipto-{{_id}}">
                    {{street}} {{houseNumber}}<br />
                    {{zip}} {{city}}<br />
                    {{countryName}}<br />
                    {{phoneNumber}}
                </blockquote>
            {{/block.shiptoAddresses}}
        </div>
    </div>
    {{> shop/checkoutBar}}
{{/block.loggendIn}}
{{^block.loggendIn}}
    <div class="row container-checkout-forms">
        <div class="col-12 col-sm-6">
            <h2>%SHOP_CUSTOMER_EXISTING%</h2>
            {{{block.loginForm}}}
        </div>
        <div class="col-12 hidden-sm-up d-sm-none">
            <hr />
        </div>
        <div class="col-12 col-sm-6">
            <h2>%SHOP_CUSTOMER_NEW%</h2>
            {{{block.registrationForm}}}
        </div>
    </div>
{{/block.loggendIn}}
