<h1>
    Edit : {{model.getNameField}}
</h1>
<div class="row">
    <div class="col-12">
        {{{form}}}
    </div>
    <div class="col-12 col-lg-6">
        <div id="layout_editor_fields">
            <h4>%MUSTACHE_AVAILABLE_FIELDS%</h4>
            {{#availableFields}}
                <a href="#" class="d-block" id="{{getId}}" >{{getNameField}}</a>
            {{/availableFields}}
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div id="layout_editor_blocks">
            <h4>%MUSTACHE_AVAILABLE_BLOCKS%</h4>
            {{#availableBlocks}}
                <a href="#" class="d-block" id="{{getId}}" >{{getNameField}}</a>
            {{/availableBlocks}}
        </div>
    </div>
</div>
<style>
    html {
        overflow: auto;
    }
</style>