<div class="card">
    {{#image}}
        {{#block.imageFullWidth}}
            <div
                class="card-image image-cover-top"
                style="background-image:url({{UPLOAD_URI}}/{{image}})"
            >
                <a href="{{slug[]}}">
                    <noscript>
                        <img
                            class="hidden-xs-up d-none"
                            src="{{UPLOAD_URI}}/{{image}}?h=250"
                            alt="{{name[]}}"
                        />
                    </noscript>
                </a>
            </div>
        {{/block.imageFullWidth}}
        {{^block.imageFullWidth}}
            <div class="card-image">
                <a href="{{slug[]}}" class="text-center">
                    <img
                        class="card-img-top img-fluid"
                        src="{{UPLOAD_URI}}/{{image}}?h=250"
                        alt="{{name[]}}"
                    />
                </a>
            </div>
        {{/block.imageFullWidth}}
    {{/image}}
    {{#block.imageFullWidth}}
        <a href="{{slug[]}}" class="card-block">
            <h4 class="card-title">
                {{name[]}}
                {{#subTitle}}
                <p class="card-sub-title">
                    {{subTitle[]}}
                </p>
                {{/subTitle}}
            </h4>
            {{#block.hideIntroText}}
            {{/block.hideIntroText}}
            {{^block.hideIntroText}}
                {{{introtext[]}}}
            {{/block.hideIntroText}}
            {{#block.readmoreShowPerItem}}
                {{>  core/readmore}}
            {{/block.readmoreShowPerItem}}
        </a>
    {{/block.imageFullWidth}}
    {{^block.imageFullWidth}}
        <div class="card-block">
            <a href="{{slug[]}}">
                <h4 class="card-title">{{name[]}}</h4>
            </a>
            {{#block.hideIntroText}}
            {{/block.hideIntroText}}
            {{^block.hideIntroText}}
                {{{introtext[]}}}
            {{/block.hideIntroText}}
            {{#block.readmoreShowPerItem}}
                {{>  core/readmore}}
            {{/block.readmoreShowPerItem}}
        </div>
    {{/block.imageFullWidth}}
</div>
