<nav aria-label="Page navigation">
    {{#pagination.getNext}}
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <div class="page-link">
                    {{pagination.getTotalPages}} items
                </div>
            </li>
            <li class="page-item">
                <a class="page-link fa fa-fast-backward" href="{{pagination.getSlug}}"></a>
            </li>
            <li class="page-item">
                <a
                    class="page-link fa fa-step-backward"
                    href="{{pagination.getSlug}}{{pagination.getSlugSeperator}}{{pagination.getUrlQueryKey}}={{pagination.getPrevious}}"
                    aria-label="Previous"
                    rel="prev"
                ></a>
            </li>
            <li class="page-item">
                <a
                    class="page-link fa fa-step-forward"
                    href="{{pagination.getSlug}}{{pagination.getSlugSeperator}}{{pagination.getUrlQueryKey}}={{pagination.getNext}}"
                    aria-label="Next"
                    rel="next"
                ></a>
            </li>
            <li class="page-item">
                <a
                    class="page-link fa fa-fast-forward"
                    href="{{pagination.getSlug}}{{pagination.getSlugSeperator}}{{pagination.getUrlQueryKey}}={{pagination.getLast}}"
                ></a>
            </li>
        </ul>
    {{/pagination.getNext}}
</nav>