{{#pagination.next}}
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a
                    class="page-link fa fa-fast-backward"
                    href="{{pagination.slug}}"
                    aria-label="Previous"
            ></a>
        </li>
        <li class="page-item">
            <a
                class="page-link  fa fa-step-backward"
                href="{{pagination.slug}}{{#pagination.before}}{{pagination.slugSeperator}}{{pagination.urlQueryKey}}={{pagination.before}}{{/pagination.before}}"
                aria-label="Previous"
            ></a>
        </li>
        <li class="page-item">
            <a
                class="page-link fa fa-step-forward"
                href="{{pagination.slug}}{{pagination.slugSeperator}}{{pagination.urlQueryKey}}={{pagination.next}}"
                aria-label="Next"
            ></a>
        </li>
        <li class="page-item">
            <a
                class="page-link fa fa-fast-forward"
                href="{{pagination.slug}}{{pagination.slugSeperator}}{{pagination.urlQueryKey}}={{pagination.last}}"
                aria-label="Next"
            ></a>
        </li>
    </ul>
{{/pagination.next}}
