<div class="language-switch">
    {{#block.languages}}
        <a
            href="{{domain}}{{#showDelimiter}}/{{/showDelimiter}}{{slug}}"
            class="{{flagClass}}"
        >
        {{nativeName}}
        </a>
    {{/block.languages}}
</div>
