<div class="container-zoom-image">
    <div
        class="zoom-image"
        style="background-image:url({{image}});"
    >
        <img
            itemprop="image"
            src="{{image}}"
        />
    </div>
</div>
<div class="zoom-button">
    <i class="fa fa-search-plus"></i>
</div>
<div class="container-zoom-image-slider"></div>
