<div class="input-group">
    <input
            id="searchTerm"
            class="form-control"
            placeholder="%FILTER_SEARCH_LABEL%"
            autocomplete="off"
            name="search"
            itemprop="query-input"
            type="search"
    />
    <button type="button" class="input-group-prepend btn toggle-filter">
        <i class="fa fa-tasks"></i>
    </button>
    <button type="submit" class="input-group-prepend btn">
        <i class="fa fa-search"></i>
    </button>
</div>
