<form
    id="{{formId}}"
    action="{{formAction}}"
    method="post"
    role="form"
    enctype="multipart/form-data"
    {{{formExtra}}}
>
    {{#formElements}}
        {{#formLabelAsPlaceholder}}
        {{/formLabelAsPlaceholder}}
        {{^formLabelAsPlaceholder}}
            {{#label}}
                <label for="{{attributes.id}}" class="{{labelColumns}} form-control-label col-form-label"
                >
                    {{attributes.label}}
                    {{#attributes.hideLabel}}
                    {{/attributes.hideLabel}}
                    {{^attributes.hideLabel}}
                        {{{label}}}
                    {{/attributes.hideLabel}}
                </label>
            {{/label}}
        {{/formLabelAsPlaceholder}}
        {{{input}}}
    {{/formElements}}

    {{#formRequiredText}}
    <div class="form-group row">
        <div class="col-12">
            * = {{formRequiredText}}
        </div>
    </div>
    {{/formRequiredText}}
</form>
