{{#block.readmoreItem}}
    {{#block.readmoreText[]}}
        <div class="container-read-more row">
            <div class="col-12 mt-4 mb-4 text-md-center">
                <a href="{{block.readmoreItem.slug[]}}" class="btn btn-primary btn-lg d-block d-md-inline-block">
                    {{block.readmoreText[]}}
                </a>
            </div>
        </div>
    {{/block.readmoreText[]}}
{{/block.readmoreItem}}
