<section class="row" itemscope="" itemtype="http://schema.org/WebPage">
    <article class="col-12">
        <header>
            <h1 itemprop="name">
                {{currentItem.name[]}}
            </h1>
        </header>
        {{#currentItem.bodytext}}
            <span itemprop="description">
                {{{currentItem.bodytext[]}}}
            </span>
        {{/currentItem.bodytext}}
    </article>
</section>
