<section class="row" itemscope="" itemtype="http://schema.org/WebPage">
    <article class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <header>
            <h1 itemprop="name">
                {{currentItem.name[]}}
            </h1>
        </header>
        {{#currentItem.bodytext}}
            <span itemprop="description">
                {{{currentItem.bodytext[]}}}
            </span>
        {{/currentItem.bodytext}}
        {{#currentItem.image}}
            <p><img
                class="img-fluid"
                src="{{UPLOAD_URI}}/{{currentItem.image}}?w=700"
                alt="{{currentItem.name[]}} | {{WEBSITE_DEFAULT_NAME}}"
                itemprop="image"
            /></p>
        {{/currentItem.image}}
    </article>
</section>
