<section class="container-product-detail" itemscope itemtype="http://schema.org/Product">
    <article class="row" >
        <div class="col-12 offset-lg-1 col-lg-6 col-xl-6">
            <div class="container-product-image text-center">
                <img
                    class="img-fluid image-add-zoom"
                    src="{{UPLOAD_URI}}/{{currentItem.firstImage}}?h=500"
                    alt="{{currentItem.name[]}} | {{WEBSITE_DEFAULT_NAME}}"
                    itemprop="image"
                />
            </div>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <div class="container-product-order">
                <header>
                    <h1 itemprop="name">
                        {{currentItem.name[]}}
                    </h1>
                </header>
                <footer>
                    {{#currentItem.outOfStock}}
                        {{> shop/outOfStock}}
                        <div class="row align-items-center">
                            <div class="col-5 col-lg-12 col-xl-5 container-product-price">
                                {{{SHOP_CURRENCY_BASE}}} {{currentItem.price_sale}}
                            </div>
                        </div>
                        <div
                            itemprop="offers"
                            itemscope
                            itemtype="http://schema.org/Offer"
                        >
                            <span itemprop="priceCurrency" content="{{{SHOP_CURRENCY_ISO}}}"></span>
                            <span itemprop="price" content="{{currentItem.price_sale}}"></span>
                            <link itemprop="availability" href="http://schema.org/OutOfStock">
                            <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition" />
                        </div>
                    {{/currentItem.outOfStock}}
                    {{^currentItem.outOfStock}}
                        <div class="row container-product-variation container-product-colors">
                            <div class="col-12">
                                <small>
                                    %SHOP_VARIATION_CHOOSE_COLOR%
                                </small>
                            </div>
                            <div class="col-12">
                                <div class="btn-group">
                                    {{#currentItem.variationsTemplate.colors}}
                                        <button
                                            type="button"
                                            class="btn btn-default {{colorClass}}"
                                            style="background-color:{{color}};"
                                            data-sku="{{sku}}"
                                            data-image="{{image}}"
                                            data-imagebase="{{UPLOAD_URI}}/"
                                        >
                                            <i class="fa fa-check"></i>
                                        </button>
                                    {{/currentItem.variationsTemplate.colors}}
                                </div>
                            </div>
                        </div>
                        <div class="row container-product-variation container-product-sizes mt-1 mb-4">
                            <div class="col-12">
                                <small>
                                    %SHOP_VARIATION_CHOOSE_SIZE%
                                </small>
                            </div>
                            <div class="col-12">
                                <div class="btn-group">
                                    {{#currentItem.variationsTemplate.sizes}}
                                        <button type="button" class="btn btn-default" data-sku="{{sku}}">{{size}}</button>
                                    {{/currentItem.variationsTemplate.sizes}}
                                </div>
                            </div>
                        </div>
                        <div class="row container-product-price">
                            <div
                                class="col-12"
                                itemprop="offers"
                                itemscope
                                itemtype="http://schema.org/Offer"
                            >
                                {{#currentItem.price_discountDisplay}}
                                    <div class="container-discount-price">
                                        <span itemprop="priceCurrency" content="{{{SHOP_CURRENCY_ISO}}}">
                                            {{{SHOP_CURRENCY_BASE}}}
                                        </span>
                                            <span itemprop="price" content="{{currentItem.price_discountSale}}">
                                            {{currentItem.price_discountDisplay}}
                                        </span>
                                        <small><s>
                                            {{{SHOP_CURRENCY_BASE}}} {{currentItem.price_saleDisplay}}
                                        </s></small>
                                    </div>
                                {{/currentItem.price_discountDisplay}}
                                {{^currentItem.price_discountDisplay}}
                                    <span itemprop="priceCurrency" content="{{{SHOP_CURRENCY_ISO}}}">
                                        {{{SHOP_CURRENCY_BASE}}}
                                    </span>
                                    <span itemprop="price" content="{{currentItem.price_sale}}">
                                        {{currentItem.price_saleDisplay}}
                                    </span>
                                {{/currentItem.price_discountDisplay}}
                                <link itemprop="availability" href="http://schema.org/InStock">
                                <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition" />
                            </div>
                            <div class="col-12 container-addtocart">
                                {{#currentItem.addtocart}}
                                    {{> shop/addToCart}}
                                {{/currentItem.addtocart}}
                            </div>
                        </div>
                        {{#currentItem.minimalDeliveryTime[]}}
                        <div
                                class="row container-product-deliverytime"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="%SHOP_DELIVERYTIME_INFO%"
                        >
                            <div class="col-12 mt-1">
                                <small class="text-success">
                                    <i class="fa fa-truck"></i>&nbsp;
                                    {{currentItem.minimalDeliveryTime[]}}{{#currentItem.maximumDeliveryTime[]}} - {{currentItem.maximumDeliveryTime[]}}{{/currentItem.maximumDeliveryTime[]}}
                                    %CORE_DAYS%&nbsp;
                                    <i class="fa fa-question-circle"></i>
                                </small>
                            </div>
                        </div>
                        {{/currentItem.minimalDeliveryTime[]}}
                        {{#currentItem.price_discount_freeShipping}}
                            <div class="row container-product-free-shipping">
                                <div class="col-12">
                                    %SHOP_NO_SHIPPINGCOSTS_IN%
                                    {{#currentItem.price_discount_freeShipping_countries}}
                                        {{name[]}}
                                    {{/currentItem.price_discount_freeShipping_countries}}
                                </div>
                            </div>
                        {{/currentItem.price_discount_freeShipping}}
                    {{/currentItem.outOfStock}}
                </footer>
                {{> shop/usp}}
            </div>
        </div>
        <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 mt-4 container-product-description">
            {{{currentItem.bodytext[]}}}
            {{#currentItem.designDisplay.introtext[]}}
                {{{currentItem.designDisplay.introtext[]}}}
            {{/currentItem.designDisplay.introtext[]}}
            {{#currentItem.manufacturerDisplay.introtext[]}}
                <h3>
                    {{{currentItem.manufacturerDisplay.name[]}}}
                </h3>
                {{{currentItem.manufacturerDisplay.introtext[]}}}
                {{{#currentItem.manufacturerDisplay.sizeTable}}}
                    <div class="table-responsive">
                        {{{currentItem.manufacturerDisplay.sizeTable}}}
                    </div>
                {{{/currentItem.manufacturerDisplay.sizeTable}}}
            {{/currentItem.manufacturerDisplay.introtext[]}}
            {{#currentItem.manufacturingTechniqueDisplay.introtext[]}}
                <h3>
                    {{{currentItem.manufacturingTechniqueDisplay.name[]}}}
                </h3>
                {{{currentItem.manufacturingTechniqueDisplay.introtext[]}}}
            {{/currentItem.manufacturingTechniqueDisplay.introtext[]}}
        </div>
        <meta itemprop="url" content="{{currentItem.slug[]}}" />
    </article>
</section>
{{> seo/facebook/viewContent}}
