@mixin shop-cart-md() {
    #container-cart-medium {
        position: fixed;
        top: 38px;
        right: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
        width: 0;
        transition: width 400ms ease-in-out;
        background-color: $white;
        iframe {
            border:none;
            position: absolute;
            top:10px;
            left:10px;
            right:0;
            height: 88vh;
        }
        .btn-success {
            position: absolute;
            bottom:0;
            border-radius: 0;
        }
    }
    .container-shopcart {
        background-color: $primary;
        .shopcart-showmore {
            .fa {
                width:16px;
            }
        }
    }
    .cart-medium-open {
        #container-cart-medium {
            width: 320px;
            border-left:2px solid $primary;
        }
    }
}
