@mixin shop-basket-xs() {
    .basket {
        margin-top:$grid-gutter-width;
        margin-bottom:$grid-gutter-width;
        .product-image {
            img {
                max-height: 10rem;
                margin-bottom: 5px;
            }
        }
        .product-name {
            a {
                color:$body-color;
                &:hover {
                    color:$link-hover-color;
                }
            }
        }
        .updateform {
            margin-top:$grid-gutter-width/2;
            .form-control-feedback {
                display:none;
            }
        }
        .sub-total {
            padding-top:7px;
            margin-top:$grid-gutter-width/2;
        }
        .total {
            margin-top:$grid-gutter-width/2;
            margin-bottom:$grid-gutter-width/2;
        }
        hr {
            margin-top:$grid-gutter-width/2;
            margin-bottom:$grid-gutter-width;
        }
    }
    .basket-legend {
        margin-top:$grid-gutter-width/2;
    }
}

@mixin shop-basket-sm() {
    .basket {
        .updateform,
        .sub-total {
            margin-top: 0;
        }
    }
    .continue-shopping {
        padding-left:0;
    }
}

@mixin shop-basket-lg() {
    .basket {
        header {
            hr {
                padding-bottom: $grid-gutter-width;
                margin-bottom: $grid-gutter-width;
            }
        }
    }
}
