{{#SITE_LOGO_FAVICON}}
    <link href="{{UPLOAD_URI}}{{SITE_LOGO_FAVICON}}?h=120&w=120" rel="apple-touch-icon" />
    <link href="{{UPLOAD_URI}}{{SITE_LOGO_FAVICON}}?h=152&w=152" rel="apple-touch-icon" sizes="152x152" />
    <link href="{{UPLOAD_URI}}{{SITE_LOGO_FAVICON}}?h=167&w=167" rel="apple-touch-icon" sizes="167x167" />
    <link href="{{UPLOAD_URI}}{{SITE_LOGO_FAVICON}}?h=180&w=180" rel="apple-touch-icon" sizes="180x180" />
    <link href="{{UPLOAD_URI}}{{SITE_LOGO_FAVICON}}?h=192&w=192" rel="icon" sizes="192x192" />
    <link href="{{UPLOAD_URI}}{{SITE_LOGO_FAVICON}}?h=128&w=128" rel="icon" sizes="128x128" />
    <link href="{{UPLOAD_URI}}{{SITE_LOGO_FAVICON}}?h=64&w=64" rel="icon" sizes="64x64" />
    <link href="{{UPLOAD_URI}}{{SITE_LOGO_FAVICON}}?h=32&w=32" rel="icon" sizes="32x32" />
    <link href="{{UPLOAD_URI}}{{SITE_LOGO_FAVICON}}?h=16&w=16" rel="icon" sizes="16x16" />
{{/SITE_LOGO_FAVICON}}
