<div class="container-read-more row">
    <div class="col-12 mt-4 mb-4 text-md-center">
        <a href="{{slug[]}}" class="btn btn-primary btn-lg d-block d-md-inline-block">
            %CORE_READ_MORE%
        </a>
    </div>
</div>
