<button
    id="{{attributes.elementId}}{{#short}}_{{short}}{{/short}}"
    class="{{#attributes.inputClass}} {{attributes.inputClass}}{{/attributes.inputClass}}{{#attributes.elementId}} {{attributes.elementId}}{{/attributes.elementId}}"
    type="{{attributes.buttonType}}"
    {{#attributes.disabled}}
        disabled="{{attributes.disabled}}"
    {{/attributes.disabled}}
>
    {{elementName}}
</button>

