<input
    type="checkbox"
    autocomplete="off"
    name="{{elementName}}"
    {{#attributes.checked}}
        checked
    {{/attributes.checked}}
    data-toggle="toggle"
    data-on="On"
    data-off="Off"
    value="1"
    data-onstyle="success"
>
