{{#short}}
    <div class="input-group">
    {{> form/form/_flag_addon}}
{{/short}}

<input
    id="{{elementId}}{{#short}}_{{short}}{{/short}}"
    class="form-control{{#short}} {{short}}{{/short}}{{#attributes.inputClass}} {{attributes.inputClass}}{{/attributes.inputClass}} file-check"
    name="{{elementName}}{{#short}}[{{short}}]{{/short}}"
    value="{{#elementValue}}{{elementValue}}{{/elementValue}}{{^elementValue}}{{elementDefault}}{{/elementValue}}"
    type="file"
    {{#attributes.required}}
        required="required"
    {{/attributes.required}}
/>

{{#short}}
    </div>
{{/short}}
