<div class="input-group">
    {{#short}}
        {{> form/form/_flag_addon}}
    {{/short}}
    <input
            id="{{elementId}}{{#short}}_{{short}}{{/short}}"
            class="form-control has-filemanager"
            name="{{elementName}}{{#short}}[{{short}}]{{/short}}"
            value="{{elementDefault}}"
            type="text"
            readonly="readonly"
            {{#attributes.required}}
                required="required"
            {{/attributes.required}}
    />
    <span class="input-group-prepend">
        <a
            href="{{BASE_URI}}filemanager/index"
            id="btn_{{elementId}}{{#short}}_{{short}}{{/short}}"
            class="openfilemanager btn btn-info"
        >
            filemanager
        </a>
    </span>
</div>
