<input
        id="{{elementName}}{{#short}}_{{short}}{{/short}}"
        name="{{elementName}}{{#short}}[{{short}}]{{/short}}"
        value="{{#elementValue}}{{elementValue}}{{/elementValue}}{{^elementValue}}{{elementDefault}}{{/elementValue}}"
        type="hidden"
/>
