{{#short}}
    <div class="input-group">
    {{> form/form/_flag_addon}}
{{/short}}
<textarea
    id="{{elementId}}{{#short}}_{{short}}{{/short}}"
    class="form-control{{#short}} {{short}}{{/short}}{{#attributes.inputClass}} {{attributes.inputClass}}{{/attributes.inputClass}}"
    name="{{elementName}}{{#short}}[{{short}}]{{/short}}"
    {{#attributes.required}}
        required="required"
    {{/attributes.required}}
    {{#attributes.readonly}}
        readonly="readonly"
    {{/attributes.readonly}}
>
    {{#elementValue}}{{elementValue}}{{/elementValue}}{{^elementValue}}{{elementDefault}}{{/elementValue}}
</textarea>

{{#short}}
    </div>
{{/short}}
