{{#hideAsideMenu}}
{{/hideAsideMenu}}
{{^hideAsideMenu}}
    <div id="menu-aside">
        <div class="inner">
            {{{logo}}}
            {{{left}}}
            {{{menu}}}
        </div>
    </div>
    <div class="container-menu-trigger bg-primary hidden-md-up d-md-none">
        <a id="menu-trigger" href="#" class="text-white pl-3">
            <i class="fa fa-bars"></i>
            <i class="fa fa-times"></i>
            %CORE_MENU%
        </a>
    </div>
{{/hideAsideMenu}}
