<div id="menu-panel">
    {{{header}}}
    <div class="container-fluid">
        <div class="row">
            {{#right}}
                <div class="col-12 col-lg-8">
                    {{{aboveMaincontent}}}
                    {{{content}}}
                    {{{maincontent}}}
                    {{{belowMaincontent}}}
                </div>
                <div class="col-12 col-lg-4">
                    {{{right}}}
                </div>
            {{/right}}
            {{^right}}
                <div class="col-12">
                    {{{aboveMaincontent}}}
                    {{{content}}}
                    {{{maincontent}}}
                    {{{belowMaincontent}}}
                </div>
            {{/right}}
        </div>
        <div class="row">
            <div class="col-12">
                {{{footer}}}
            </div>
        </div>
    </div>
</div>
