<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<base href="{{BASE_URI}}"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
{{#SEO_META_KEYWORDS}}
    <meta name="keywords" content="{{SEO_META_KEYWORDS}}"/>
{{/SEO_META_KEYWORDS}}
<meta name="robots" content="{{SEO_ROBOTS}}"/>
{{#SEO_META_DESCRIPTION}}
    <meta name="description" content="{{SEO_META_DESCRIPTION}}"/>
{{/SEO_META_DESCRIPTION}}
{{#WEBSITE_DEFAULT_NAME}}
    <meta name="generator" content="{{WEBSITE_DEFAULT_NAME}}"/>
    <meta name="author" content="{{WEBSITE_DEFAULT_NAME}}">
{{/WEBSITE_DEFAULT_NAME}}
<link rel="canonical" href="{{BASE_URI}}{{currentItem.slug[]}}" />
<title>{{#currentItem.seoTitle[]}}{{currentItem.seoTitle[]}}{{/currentItem.seoTitle[]}}{{^currentItem.seoTitle[]}}{{currentItem.name[]}}{{/currentItem.seoTitle[]}}{{#SITE_TITLE_LABEL_MOTTO}} | {{SITE_TITLE_LABEL_MOTTO}}{{/SITE_TITLE_LABEL_MOTTO}}</title>
