{{#GOOGLE_ADSENSE_AUTOMATICADS}}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{GOOGLE_ADSENSE_AUTOMATICADS}}" crossorigin="anonymous"></script>
{{/GOOGLE_ADSENSE_AUTOMATICADS}}
