{{#isDev}}
{{/isDev}}
{{^isDev}}
    {{#GOOGLE_ANALYTICS_TRACKINGID}}
        <script type="text/javascript">
            ga('ec:setAction', 'purchase', {
                'id': '{{block.order._id}}',
                'revenue': '{{block.order.total}}'
            });
            ga('send', 'pageview');
        </script>
    {{/GOOGLE_ANALYTICS_TRACKINGID}}
{{/isDev}}
