{{#isDev}}
{{/isDev}}
{{^isDev}}
    {{#GOOGLE_SITE_VERIFICATION}}
        <meta name="google-site-verification" content="{{GOOGLE_SITE_VERIFICATION}}" />
    {{/GOOGLE_SITE_VERIFICATION}}
{{/isDev}}
