<div class="container-gmaps" data-markericon="{{block.googleMapsMarkerIcon}}"></div>
<div class="row gmaps-addresses container-address-list">
    {{#block.items}}
        <div class="{{_id}} col-12 col-lg-6 col-xl-4 card">
            {{> address}}
        </div>
    {{/block.items}}
</div>
{{> block/readmore}}
