<ol class="breadcrumb">
    {{#block.items}}
        <li class="{{_id}} breadcrumb-item" >
            <a href="{{slug[]}}" >
                {{name[]}}
            </a>
        </li>
    {{/block.items}}
</ol>
