{{#block.items}}
    {{#bodytext[]}}
        <a
            href="{{slug[]}}"
            class="{{_id}} btn btn-primary openmodal"
        >
            {{name[]}}
        </a>
    {{/bodytext[]}}
{{/block.items}}
