{{#block.items}}
    <h1>{{name[]}}</h1>
    {{#tagLine[]}}
        <p>{{tagLine[]}}</p>
    {{/tagLine[]}}
    <div class="buttons">
        <a class="btn btn-primary" href="page:{{item}}">{{#itemNameButton[]}}{{itemNameButton[]}}   {{/itemNameButton[]}}{{^itemNameButton[]}}{{itemName}}{{/itemNameButton[]}}</a>
        {{#secondItemName}}
            <a class="btn btn-outline-info" href="page:{{secundaryItem}}">{{secondItemName}}</a>
        {{/secondItemName}}
        {{#thirdItemName}}
            <a class="btn btn-outline-info" href="page:{{thirdItem}}">{{thirdItemName}}</a>
        {{/thirdItemName}}
    </div>
{{/block.items}}
