<div
    class="row"
    itemscope itemtype="http://schema.org/ItemList"
>
    {{#block.items}}
        <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            {{> bootstrap/card}}
        </div>
    {{/block.items}}
</div>
