<div
    class="row container-card-three-columns"
    itemscope itemtype="http://schema.org/ItemList"
>
    {{#block.items}}
        <div class="col-12 col-lg-6 col-xl-4">
            {{> bootstrap/card}}
        </div>
    {{/block.items}}
</div>
