<div
    class="row container-card-two-columns"
    itemscope itemtype="http://schema.org/ItemList"
>
    {{#block.items}}
        <div class="col-12 col-lg-6">
            {{> bootstrap/card}}
        </div>
    {{/block.items}}
</div>
