<div
    class="row"
    itemscope itemtype="http://schema.org/ItemList"
>
    {{#block.items}}
        <div class="col-12">
            {{> bootstrap/card}}
        </div>
    {{/block.items}}
</div>
