<nav>
    <ul>
        {{#block.items}}
        <li class="{{_id}}" >
            <a href="#" data-slug="{{slug[]}}" >
                {{name[]}}
            </a>
        </li>
        {{/block.items}}
    </ul>
</nav>
{{> block/readmore}}
