<nav>
    <ul>
        {{#block.items}}
            <li class="{{getId}}">
                <a href="#" data-slug="{{getSlug}}">
                    {{getNameField}}
                </a>
            </li>
        {{/block.items}}
    </ul>
</nav>