{{#block.items}}
    {{#headerImage}}
    <div
        class="header-image"
        style="background-image:url('/uploads/{{ACCOUNT}}/{{headerImage}}')"
    >
        <img
            class="hidden-xs-up d-none"
            src="uploads/{{ACCOUNT}}/{{headerImage}}"
            alt="name[]"
        />
    </div>
    {{/headerImage}}
    {{^headerImage}}
        <div
                class="header-image"
                style="background-image:url('/uploads/{{ACCOUNT}}/{{HEADER_IMAGE_DEFAULT}}')"
        >
            <img
                class="hidden-xs-up d-none"
                src="uploads/{{ACCOUNT}}/{{HEADER_IMAGE_DEFAULT}}"
                alt="name[]"
            />
        </div>
    {{/headerImage}}
{{/block.items}}
{{^block.items}}
    <div
            class="header-image"
            style="background-image:url('/uploads/{{ACCOUNT}}/{{HEADER_IMAGE_DEFAULT}}')"
    >
        <img
                class="hidden-xs-up d-none"
                src="uploads/{{ACCOUNT}}/{{HEADER_IMAGE_DEFAULT}}"
                alt="name[]"
        />
    </div>
{{/block.items}}

{{> block/readmore}}
