<div
        class="header-image"
        style="background-image:url('{{image}}')"
>
    <img
            class="hidden-xs-up d-none"
            src="{{image}}"
            alt="{{imageName}}"
    />
</div>