{{#block.items}}
    <section>
        <article class="item {{_id}}">
            <header>
                <h2>
                    {{name[]}}
                </h2>
            </header>
            {{{introtext[]}}}
            {{#block.readmoreShowPerItem}}
                {{>  core/readmore}}
            {{/block.readmoreShowPerItem}}
        </article>
    </section>
{{/block.items}}
{{> block/readmore}}
