<nav>
    <ul>
    {{#block.items}}
        <li class="{{_id}}" >
            <a href="{{slug[]}}" class="openmodal" >
                {{name[]}}
            </a>
        </li>
    {{/block.items}}
    </ul>
</nav>
{{> block/readmore}}
