<div class="row">
    {{#block.items}}
        <div class="{{_id}} col-12 col-lg-4 col-xl-3" >
            <div class="card">
                <a class="card-img-top text-center" href="{{BASE_URI}}{{slug[]}}" >
                    <img
                            src="{{uploads_uri}}{{image}}?h=250"
                            alt="{{name[]}}"
                    />
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{BASE_URI}}{{slug[]}}" >
                            {{name[]}}
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    {{/block.items}}
</div>
{{> block/readmore}}
{{#pagination}}
    {{> bootstrap/pagination_helper}}
{{/pagination}}
