<div
    class="row productlist"
    itemscope itemtype="http://schema.org/ItemList"
>
    <link itemprop="url" href="{{BASE_URI}}{{currentItem.slug[]}}" />
    {{#block.items}}
        {{> shop/beer_small }}
    {{/block.items}}
</div>
{{> block/readmore}}
{{> seo/facebook/viewContent}}
