<div class="row">
    {{#block.items}}
        <div class="{{_id}} col-12 col-lg-4 col-xl-3" >
            <div class="card">
                <a class="card-img-top text-center" href="{{slug[]}}" >
                    <img
                        src="uploads/{{ACCOUNT}}/{{image}}?h=250"
                        alt="{{name[]}}"
                    />
                </a>
                <div class="card-block">
                    <h4 class="card-title">
                        <a href="{{slug[]}}" >
                            {{name[]}}
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    {{/block.items}}
</div>
{{> block/readmore}}
