<table class="table table-bordered">
    <tr>
        <th>
            %NEWSLETTER_NEWSLETTER%
        </th>
        <th>
            %NEWSLETTER_SUBSCRIBE_DATE%
        </th>
        <th>
            %NEWSLETTER_UNSUBSCRIBE_DATE%
        </th>
        <th class="text-right">
            %CORE_ACTIONS%
        </th>
    </tr>
{{#block.newsletterLists}}
    <tr>
        <td>
            {{newsletterListName}}
        </td>
        <td>
            {{subscribeDate}}
        </td>
        <td>
            {{unSubscribeDate}}
        </td>
        <td class="text-right">
            {{#unSubscribeDate}}
            <a
                href="{{BASE_URI}}communication/newsletterlist/subscribe/{{newsletterListId}}"
                title="{{text}}"
            >
                %NEWSLETTER_SUBSCRIBE%
            </a>
            {{/unSubscribeDate}}
            {{^unSubscribeDate}}
            <a
                href="{{BASE_URI}}communication/newsletterlist/unsubscribe/{{newsletterListId}}"
                title="{{text}}"
            >
                %NEWSLETTER_UNSUBSCRIBE%
            </a>
            {{/unSubscribeDate}}
        </td>
    </tr>
{{/block.newsletterLists}}
</table>
