.required {
    label {
        &:after {
            content:"*";
            display: inline-block;
        }
    }
}

.select2-container--default {
    .select2-selection--multiple {
        border: $input-btn-border-width solid $input-border-color;
        @if $enable-rounded {
            // Manually use the if/else instead of the mixin to account for iOS override
            border-radius: $input-border-radius;
        } @else {
            // Otherwise undo the iOS core
            border-radius: 0;
        }
        font-size: $font-size-base;
        line-height: $input-line-height;
        color: $input-color;
        background-color: $input-bg;
        // Reset unusual Firefox-on-Android core style; see https://github.com/necolas/normalize.css/issues/214.
        background-image: none;
        background-clip: padding-box;
    }
    &.select2-container--focus .select2-selection--multiple {
        border-color:$gray-400;
    }
}

textarea {
    min-height: 200px;
}

.g-recaptcha {
    margin-bottom: $form-group-margin-bottom;
}
