@mixin image-cover($height: 100px, $y : center, $x : center, $width: 100%) {
    background-repeat: no-repeat;
    background-position: $x $y;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: $height;
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.image-cover-top {
    @include image-cover(250px, top);
}

.image-cover-bottom {
    @include image-cover(250px, bottom);
}


