$left-width:320px !default;

// Alert
$alert-border-radius: 0 !default;
$alert-padding-y: 0 !default;
$alert-margin-bottom:  0 !default;

// Forms
$input-group-addon-bg:           none;

// Fonts
$headings-margin-bottom: 1.5rem !default;

$enable-rounded: false;
$enable-print-styles:false;
