<div>
    <h2 style="margin-bottom:5px">{{item.name[]}}</h2>
    <a href="{{BASE_URI}}{{item.slug[]}}">
        <img
            src="{{UPLOAD_URI}}/{{item.image}}?w=580"
            alt="{{item.name[]}}"
            style="width:580px"
        >
    </a>
    {{{item.introtext[]}}}
    <p style="text-align:right;margin-top:0">
        <a href="{{BASE_URI}}{{item.slug[]}}" style="text-decoration: none">
           %CORE_READ_FURTHER%&nbsp;&gt;&gt;
        </a>
    </p>
</div>
