<section class="row">
    <article class="col-12 col-lg-6 offset-lg-3">
        {{#block.orderState.bodytext}}
            {{{block.orderState.bodytext[]}}}
        {{/block.orderState.bodytext}}
        {{#block.triggerAdwords}}
            {{> seo/google/adwords_purchase}}
        {{/block.triggerAdwords}}
        {{#block.triggerAnalytics}}
        {{> seo/google/analytics_purchase}}
        {{/block.triggerAnalytics}}
        {{#block.triggerFacebook}}
            {{> seo/facebook/purchase}}
        {{/block.triggerFacebook}}
        {{#block.triggerTradetracker}}
            {{> seo/tradetrackerPurchase}}
        {{/block.triggerTradetracker}}
    </article>
</section>
