<div class="container-socialmedia d-flex justify-content-between">
    {{#CONTACT_SOCIALMEDIA_FACEBOOKURL}}
        <a
            href="{{CONTACT_SOCIALMEDIA_FACEBOOKURL}}"
            class="fa fa-facebook"
            target="_blank"
        ></a>
    {{/CONTACT_SOCIALMEDIA_FACEBOOKURL}}
    {{#CONTACT_SOCIALMEDIA_INSTAGRAMURL}}
        <a
            href="{{CONTACT_SOCIALMEDIA_INSTAGRAMURL}}"
            class="fa fa-instagram"
            target="_blank"
        ></a>
    {{/CONTACT_SOCIALMEDIA_INSTAGRAMURL}}
    {{#CONTACT_SOCIALMEDIA_TWITTERURL}}
        <a
            href="{{CONTACT_SOCIALMEDIA_TWITTERURL}}"
            class="fa fa-twitter"
            target="_blank"
        ></a>
    {{/CONTACT_SOCIALMEDIA_TWITTERURL}}
    {{#CONTACT_SOCIALMEDIA_PINTERESTURL}}
        <a
            href="{{CONTACT_SOCIALMEDIA_PINTERESTURL}}"
            class="fa fa-pinterest"
            target="_blank"
        ></a>
    {{/CONTACT_SOCIALMEDIA_PINTERESTURL}}
    {{#CONTACT_SOCIALMEDIA_LINKEDINURL}}
        <a
            href="{{CONTACT_SOCIALMEDIA_LINKEDINURL}}"
            class="fa fa-linkedin"
            target="_blank"
        ></a>
    {{/CONTACT_SOCIALMEDIA_LINKEDINURL}}
</div>
