<div class="container-logo {{block.logoType}}">
    <a href="{{BASE_URI}}">
        <h1 class="m-0 p-0">{{WEBSITE_DEFAULT_NAME}}</h1>
    </a>
    {{#block.displayMotto}}
    <p>
        <a href="{{BASE_URI}}">
            {{SITE_LABEL_MOTTO}}
        </a>
    </p>
    {{/block.displayMotto}}
</div>

