<div class="container-logo {{block.logoType}}">
    <a href="{{uri}}">
        <h1 class="m-0 p-0">{{websiteName}}</h1>
    </a>
    {{#block.displayMotto}}
    <p>
        <a href="{{uri}}">
            {{motto}}
        </a>
    </p>
    {{/block.displayMotto}}
</div>