<div class="container-logo {{logoType}}">
    <a href="{{BASE_URI}}">
        <p class="m-0 p-0" style="color:white">{{WEBSITE_DEFAULT_NAME}}</p>
    </a>
    {{#displayMotto}}
        <p>
            <a href="{{BASE_URI}}">
                {{SITE_LABEL_MOTTO}}
            </a>
        </p>
    {{/displayMotto}}
</div>