<table class="table table-bordered">
    <tr>
        <th>%SHOP_DATE%</th>
        <th>%SHOP_AMOUNT%</th>
        <th>%SHOP_STATE%</th>
    </tr>
    {{#orderlistOrders}}
    <tr>
        <td>{{createdAt}}</td>
        <td>{{{SHOP_CURRENCY_BASE}}} {{totalDisplay}}</td>
        <td>{{orderState.name[]}}</td>
    </tr>
    {{/orderlistOrders}}
</table>
{{> bootstrap/pagination}}
