<div
    class="{{_id}} col-12 col-md-6 col-xl-4 card"
    itemprop="itemListElement" itemscope itemtype="http://schema.org/Product"
>
    <a
        class="card-img-top text-center openmodal"
        href="{{slug[]}}"
        itemprop="url"
    >
        <img
            src="uploads/{{ACCOUNT}}/{{image}}?h=250"
            alt="{{name[]}} | {{WEBSITE_DEFAULT_NAME}}"
            itemprop="image"
        />
    </a>
    <div class="card-block">
        <h5 class="card-title text-center">
            <a
                href="{{slug[]}}"
                itemprop="name"
                class="openmodal"
            >
                {{breweryDisplay}} - {{name[]}} - {{volumeDisplay}}
            </a>
        </h5>
        <div class="row mt-4">
            <div class="col-12 col-sm-4 col-lg-4 mt-1">
                <div
                    itemprop="offers"
                    itemscope
                    itemtype="http://schema.org/Offer"
                    class="h4 text-center text-sm-left"
                >
                    <span itemprop="priceCurrency" content="{{{SHOP_CURRENCY_ISO}}}">
                        {{{SHOP_CURRENCY_BASE}}}
                    </span>
                    <span itemprop="price" content="{{price_sale}}">
                        {{price_saleDisplay}}
                    </span>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-8">
                {{#outOfStock}}
                    <div class="float-right view-product w-100 text-center text-primary">
                        %SHOP_SOLD_OUT%
                    </div>
                {{/outOfStock}}
                {{^outOfStock}}
                    {{#addtocart}}
                        <div class="container-addtocart">
                            {{> shop/addToCartBlock}}
                        </div>
                    {{/addtocart}}
                {{/outOfStock}}
            </div>
            <div class="col-12 text-center mt-2">
                <a href="page:{{breweryCountry}}">
                    {{breweryCountryDisplay}}
                </a>,
                <a href="page:{{brewery}}">
                    {{breweryDisplay}}
                </a>,
                <a href="page:{{beerStyle}}">
                    {{beerStyleDisplay}}
                </a>,
                {{alcohol}}%, {{volumeDisplay}}, {{#ibu}}{{ibu}} ibu{{/ibu}}{{^ibu}}bitterheid onbekend{{/ibu}}
            </div>
        </div>
    </div>
</div>
