<footer class="small">
    <div class="row">
        <div class="col-7 col-sm-9 text-right" >
            %SHOP_SUBTOTAL_WITH_VAT%
        </div>
        <div class="col-5 col-sm-3 text-right" >
            {{{SHOP_CURRENCY_BASE}}} {{block.cart.subTotalSaleDisplay}}
        </div>
    </div>
    <div class="row">
        <div class="col-7 col-sm-9 text-right" >
            %SHOP_SHIPPING_WITH_VAT%
        </div>
        <div class="col-5 col-sm-3 text-right" >
            {{{SHOP_CURRENCY_BASE}}} {{block.shippingTotalDisplay}}
        </div>
    </div>
    {{#block.totalDiscountDisplay}}
        <div class="row">
            <div class="col-7 col-sm-9 text-right" >
                %SHOP_DISCOUNT%
            </div>
            <div class="col-5 col-sm-3 text-right" >
                {{{SHOP_CURRENCY_BASE}}} -{{block.totalDiscountDisplay}}
            </div>
        </div>
    {{/block.totalDiscountDisplay}}
    <div class="row h5 font-weight-bold total">
        <div class="col-7 col-sm-9 text-right">
            %SHOP_ENDTOTAL%
        </div>
        <div class="col-5 col-sm-3 text-right">
            {{{SHOP_CURRENCY_BASE}}} {{block.totalDisplay}}
        </div>
    </div>
    <div class="row">
        <div class="col-7 col-sm-9 text-right" >
            %SHOP_VAT%
        </div>
        <div class="col-5 col-sm-3 text-right" >
            {{{SHOP_CURRENCY_BASE}}} {{block.vatDisplay}}
        </div>
    </div>
    {{#block.discount}}
        <div class="row">
            <div class="col-7 col-sm-9 text-right" >
                %SHOP_DISCOUNT_CODE%
            </div>
            <div class="col-5 col-sm-3 text-right" >
                {{block.discount.code}}
            </div>
        </div>
    {{/block.discount}}
</footer>
