{{#price_discountDisplay}}
    <div class="container-discount-price">
        <small>
            <s>
                {{{SHOP_CURRENCY_BASE}}} {{price_saleDisplay}}
            </s>
        </small>&nbsp;
        <span itemprop="priceCurrency" content="{{{SHOP_CURRENCY_ISO}}}">
                {{{SHOP_CURRENCY_BASE}}}
            </span>
        <span itemprop="price" content="{{price_sale}}">
            {{price_discountDisplay}}
        </span>
    </div>
{{/price_discountDisplay}}
{{^price_discountDisplay}}
    {{{SHOP_CURRENCY_BASE}}} {{price_saleDisplay}}
{{/price_discountDisplay}}
