<form
    id="updateform-{{cartItemId}}"
    action="{{BASE_URI}}shop/cart/changequantity/"
>
    <div class="input-group">
        <input
            class="form-control"
            id="quantity-{{cartItemId}}"
            type="number"
            name="quantity"
            value="{{quantity}}"
            min="1"
            {{#stock}}max="{{stock}}"{{/stock}}
        />
        <button
            type="submit"
            class="input-group-prepend btn btn-success"
        >
            <i class="fa fa-refresh"></i>
        </button>
    </div>
    <input type="hidden" name="cartItemId" value="{{cartItemId}}" />
</form>
<form action="{{BASE_URI}}shop/cart/removeitem/">
    <label class="text-danger small">
        %SHOP_REMOVE%
        <button type="submit" class="btn btn-link fa fa-trash"></button>
    </label>
    <input type="hidden" name="cartItemId" value="{{cartItemId}}" />
</form>
