<a
    href="{{BASE_URI}}{{slug[]}}"
    class="openmodal"
>
    <b>{{name[]}}</b><br />
    {{genderDisplay.name[]}} {{#variation}}{{variation}}{{/variation}}
    {{> shop/free_shipping}}
    {{#manufacturerDisplay.name[]}}
        {{manufacturerDisplay.name[]}}<br />
    {{/manufacturerDisplay.name[]}}
    {{> shop/delivery_time}}
</a>
