<div
    itemprop="offers"
    itemscope
    itemtype="http://schema.org/Offer"
    class="float-right d-flex justify-content-start h4"
>
    {{#price_discountDisplay}}
        <div class="container-discount-price">
            <div class="pull-right">
                                <span itemprop="priceCurrency" content="{{{SHOP_CURRENCY_ISO}}}">
                                    {{{SHOP_CURRENCY_BASE}}}
                                </span>
                <span itemprop="price" content="{{price_sale}}">
                                    {{price_discountDisplay}}
                                </span>
            </div>
            <small class="pull-right mr-3">
                <s>
                    {{{SHOP_CURRENCY_BASE}}}&nbsp;{{price_saleDisplay}}
                </s>
            </small>
        </div>
    {{/price_discountDisplay}}
    {{^price_discountDisplay}}
        <span itemprop="priceCurrency" content="{{{SHOP_CURRENCY_ISO}}}">
            {{{SHOP_CURRENCY_BASE}}}
        </span>
        &nbsp;
        <span itemprop="price" content="{{price_sale}}">
            {{price_saleDisplay}}
        </span>
    {{/price_discountDisplay}}
</div>
