<small class="text-success">
    <i class="fa fa-truck"></i>&nbsp;
    {{minimalDeliveryTime[]}} - {{maximumDeliveryTime[]}}
    %CORE_DAYS%&nbsp;
    <i
        class="fa fa-info-circle"
        data-toggle="tooltip"
        data-placement="top"
        title="%SHOP_DELIVERYTIME_INFO%"
    ></i>
</small>
