<div class="container-product-free-shipping">
    {{#price_discount_freeShipping}}
        %SHOP_NO_SHIPPINGCOSTS_IN%
        {{#price_discount_freeShipping_countries}}
            {{name[]}}
        {{/price_discount_freeShipping_countries}}
    {{/price_discount_freeShipping}}
</div>
