<table width="100%">
    <tr>
        <td width="49%">
            <table width="100%">
                <tbody>
                <tr>
                    <th>%SHOP_ORDERID%</th>
                    <td>{{orderItem.orderId}}</td>
                </tr>
                <tr>
                    <th>%SHOP_DATE%</th>
                    <td>{{orderItem.createdAt}}</td>
                </tr>
                <tr>
                    <th>%SHOP_STATE%</th>
                    <td>{{orderItem.orderState.name[]}}</td>
                </tr>
                {{#orderItem.discountCode}}
                <tr>
                    <th>%SHOP_DISCOUNT_CODE%</th>
                    <td>{{orderItem.discountCode}}</td>
                </tr>
                {{/orderItem.discountCode}}
                </tbody>
            </table>
        </td>
        <td width="2%"></td>
        <td width="49%" valign="top">
            {{#orderItem.orderMessage}}
                {{orderItem.orderMessage}}
            {{/orderItem.orderMessage}}
        </td>
    </tr>
</table>
<hr/>
<br />
<table width="100%">
    <tr>
        <td width="49%">
            <table width="100%">
                <tr>
                    <th colspan="2"><h3>%SHOP_ADDRESS_INVOICE%</h3></th>
                </tr>
                <tr>
                    <th>%USER_FIRSTNAME%</th>
                    <td>{{orderItem.shopper.user.firstName}}</td>
                </tr>
                <tr>
                    <th>%USER_LASTNAME%</th>
                    <td>
                        {{#orderItem.shopper.user.middleName}}
                        {{orderItem.shopper.user.middleName}}
                        {{/orderItem.shopper.user.middleName}}
                        {{orderItem.shopper.user.lastName}}
                    </td>
                </tr>
                <tr>
                    <th>%CORE_EMAIL%</th>
                    <td>{{orderItem.shopper.user.email}}</td>
                </tr>
                <tr>
                    <th>%ADDRESS_STREET%</th>
                    <td>{{orderItem.shopper.user.street}}</td>
                </tr>
                <tr>
                    <th>%ADDRESS_HOUSENUMBER%</th>
                    <td>{{orderItem.shopper.user.houseNumber}}</td>
                </tr>
                <tr>
                    <th>%ADDRESS_ZIPCODE%</th>
                    <td>{{orderItem.shopper.user.zipCode}}</td>
                </tr>
                <tr>
                    <th>%ADDRESS_CITY%</th>
                    <td>{{orderItem.shopper.user.city}}</td>
                </tr>
                <tr>
                    <th>%ADDRESS_COUNTRY%</th>
                    <td>{{orderItem.shopper.user.countryName}}</td>
                </tr>
                <tr>
                    <th>%ADDRESS_PHONENUMBER%</th>
                    <td>{{orderItem.shopper.user.phoneNumber}}</td>
                </tr>
                {{#orderItem.refferer}}
                    <tr>
                        <th>%SHOP_REFFERER_QUESTION%</th>
                        <td>{{orderItem.refferer}}</td>
                    </tr>
                {{/orderItem.refferer}}
            </table>
        </td>
        <td width="2%"></td>
        <td width="49%">
            <table width="100%">
                <tbody>
                <tr>
                    <th colspan="2"><h3>%SHOP_ADDRESS_SHIPPING%</h3></th>
                </tr>
                <tr>
                    <th>%USER_FIRSTNAME%</th>
                    <td>{{orderItem.shiptoAddress.firstName}}</td>
                </tr>
                <tr>
                    <th>%USER_LASTNAME%</th>
                    <td>
                        {{#orderItem.shiptoAddress.middleName}}
                        {{orderItem.shiptoAddress.middleName}}
                        {{/orderItem.shiptoAddress.middleName}}
                        {{orderItem.shiptoAddress.lastName}}
                    </td>
                </tr>
                <tr>
                    <th>%CORE_EMAIL%</th>
                    <td>{{orderItem.shiptoAddress.email}}</td>
                </tr>
                <tr>
                    <th>%ADDRESS_STREET%</th>
                    <td>{{orderItem.shiptoAddress.street}}</td>
                </tr>
                <tr>
                    <th>%ADDRESS_HOUSENUMBER%</th>
                    <td>{{orderItem.shiptoAddress.houseNumber}}</td>
                </tr>
                <tr>
                    <th>%ADDRESS_ZIPCODE%</th>
                    <td>{{orderItem.shiptoAddress.zipCode}}</td>
                </tr>
                <tr>
                    <th>%ADDRESS_CITY%</th>
                    <td>{{orderItem.shiptoAddress.city}}</td>
                </tr>
                <tr>
                    <th>%ADDRESS_COUNTRY%</th>
                    <td>{{orderItem.shiptoAddress.countryName}}</td>
                </tr>
                <tr>
                    <th>%ADDRESS_PHONENUMBER%</th>
                    <td>{{orderItem.shiptoAddress.phoneNumber}}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
<hr/>
<br />
<table width="100%">
    <tbody>
    <tr>
        <th>%SHOP_QUANTITY%</th>
        <th>%SHOP_SKU%</th>
        <th>%SHOP_PRODUCT_NAME%</th>
        <th>%SHOP_PRICE%</th>
        <th align="right" style="text-align: right">%SHOP_TOTAL%</th>
    </tr>
    {{#orderItem.items.products}}
    <tr valign="top">
        <th>{{quantity}}</th>
        <td>
            {{genderDisplay.name[]}} {{variation}}
            {{#manufacturerDisplay.name[]}}
                <br /><small>{{manufacturerDisplay.name[]}}</small>
            {{/manufacturerDisplay.name[]}}
            {{#packingName}}
                <br /><small>%SHOP_PACKING_TYPE% : {{packingName}}</small>
            {{/packingName}}
        </td>
        <td>
            <a href="{{BASE_URI}}{{slug[]}}" class="openmodal" >
                {{name[]}}
            </a>
        </td>
        <td>
            {{#price_discountSale}}
            {{{orderItem.currency}}}&nbsp;{{price_discountSale}}<br/>
                <small>
                    <s>
                        {{{orderItem.currency}}}&nbsp;{{price_sale}}
                    </s>
                </small>
            {{/price_discountSale}}
            {{^price_discountSale}}
                {{{orderItem.currency}}}&nbsp;{{price_sale}}
            {{/price_discountSale}}

        </td>
        <td align="right">
            {{#subTotalDiscountSale}}
                {{{orderItem.currency}}}&nbsp;{{subTotalDiscountSale}}<br />
                <small>
                    <s>
                        {{{orderItem.currency}}}&nbsp;{{subTotalSale}}
                    </s>
                </small>
            {{/subTotalDiscountSale}}
            {{^subTotalDiscountSale}}
                {{{orderItem.currency}}}&nbsp;{{subTotalSale}}
            {{/subTotalDiscountSale}}
        </td>
    </tr>
    {{/orderItem.items.products}}
    <tr>
        <th colspan="5"><br /><hr /><br /></th>
    </tr>
    <tr>
        <td colspan="4" align="right"><b>%SHOP_SUBTOTAL%</b></td>
        <td align="right">{{{SHOP_CURRENCY_BASE}}} {{orderItem.items.subTotalDisplay}}</td>
    </tr>
    <tr>
        <td align="right" colspan="4"><b>%SHOP_VAT%</b></td>
        <td align="right">{{{SHOP_CURRENCY_BASE}}} {{orderItem.items.vatDisplay}}</td>
    </tr>
    <tr>
        <td align="right" colspan="4"><b>%SHOP_SHIPPING%</b></td>
        <td align="right">
            {{{SHOP_CURRENCY_BASE}}} {{orderItem.shippingAmountDisplay}}
        </td>
    </tr>
    <tr>
        <td align="right" colspan="4">
            <b>%SHOP_SHIPPING% %SHOP_VAT%</b>
        </td>
        <td align="right">
            {{{SHOP_CURRENCY_BASE}}} {{orderItem.shippingTaxDisplay}}
        </td>
    </tr>
    {{#orderItem.totalDiscountDisplay}}
    <tr>
        <td align="right" colspan="4">
            %SHOP_DISCOUNT%
        </th>
        <td align="right">
            {{{SHOP_CURRENCY_BASE}}} -{{orderItem.totalDiscountDisplay}}
        </td>
    </tr>
    {{/orderItem.totalDiscountDisplay}}
    <tr>
        <td align="right" colspan="3"></td>
        <td align="right" colspan="2">
            <hr />
        </td>
    </tr>
    <tr>
        <td align="right" colspan="4">
            <b>%SHOP_ENDTOTAL%</b>
        </td>
        <th align="right"  style="text-align: right">
            {{{SHOP_CURRENCY_BASE}}} {{orderItem.totalDisplay}}
        </th>
    </tr>
    </tbody>
</table>
