@mixin header-image-xs($height, $width:100%) {
    .header-image {
        display:block;
        width: $width;
        height: $height;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
