{{#isDev}}
{{/isDev}}
{{^isDev}}
    {{#FACEBOOK_PIXEL_ID}}
        <script>
            fbq('track', 'Purchase', {
                content_ids: [{{#block.order.items.products}}'{{_id}}'{{/block.order.items.products}}],
                content_type: 'product',
                value: {{block.order.total}},
                currency: '{{SHOP_CURRENCY_ISO}}'
            });
        </script>
    {{/FACEBOOK_PIXEL_ID}}
{{/isDev}}
